<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<main class="container">
    <div class="row">
        <div class="col6">
            <input type="search" class="form-control" name="filtro" id="filtro" />
        </div>
        <div class="col-12">

            <table class="table table-striped">
                <thead class="bg-primary navbar-dark text-white">
                    <tr>
                        <th>Autor</th>
                        <th>Libro</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</main>